<!DOCTYPE html>

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{# {% bootstrap_css %} #}
{# {% bootstrap_javascript %} #}

{% load static %}

<html lang="en">
<head>
    {% include 'common_app/base_import.html' %}

    <link rel="shortcut icon" href="{% static 'img/logo_bg_invisible.png' %}">
    <title>LYL.B</title>
</head>
<body>
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src='{% static "img/logo_character.jpg" %}' alt="">
        <span class="d-none d-lg-block">LYL.B Pilates</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown pe-3">

            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <img src='{% static "img/user_icon.png" %}' alt="Profile" class="rounded-circle">
              <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.name }}</span>
            </a><!-- End Profile Iamge Icon -->

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <li class="dropdown-header">
                <h6>{{ user.name }}</h6>
                <span>{{ user.get_user_type_display }}</span>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                  <i class="bi bi-person"></i>
                  <span>My Profile</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                  <i class="bi bi-gear"></i>
                  <span>Account Settings</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                  <i class="bi bi-question-circle"></i>
                  <span>Need Help?</span>
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li>
                <a class="dropdown-item d-flex align-items-center" href="/log-out/">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Log Out</span>
                </a>
              </li>

            </ul><!-- End Profile Dropdown Items -->
          </li><!-- End Profile Nav -->
        {% else %}
          <li class="nav-item pe-3">
            <a class="btn btn-sm btn-success" href="/log-in/">
              로그인
            </a><!-- End Profile Iamge Icon -->
          </li>
        {% endif %}

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  {% include 'common_app/base_sidebar.html' %}
  <!-- End Sidebar-->

  <main id="main" class="main">
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    {% block main_area %}
    {% endblock %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Jihyun You</span></strong>. All Rights Reserved
    </div>
  </footer><!-- End Footer -->

<!-- UI 개선: Nice Admin -->
<!-- Vendor JS Files -->
<script src='{% static "niceadmin/assets/vendor/apexcharts/apexcharts.min.js" %}'></script>
<script src='{% static "niceadmin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
<script src='{% static "niceadmin/assets/vendor/chart.js/chart.min.js" %}'></script>
<script src='{% static "niceadmin/assets/vendor/echarts/echarts.min.js" %}'></script>
<script src='{% static "niceadmin/assets/vendor/quill/quill.min.js" %}'></script>
<script src='{% static "niceadmin/assets/vendor/simple-datatables/simple-datatables.js" %}'></script>
<script src='{% static "niceadmin/assets/vendor/tinymce/tinymce.min.js" %}'></script>
<script src='{% static "niceadmin/assets/vendor/php-email-form/validate.js" %}'></script>

<!-- Template Main JS File -->
<script src='{% static "niceadmin/assets/js/main.js" %}'></script>

<!--  Bootstrap Table  -->
<script src='{% static "bootstrap-table-master/bootstrap-table.min.js" %}'></script>
<script src='{% static "bootstrap-table-master/locale/bootstrap-table-ko-KR.min.js" %}'></script>
<!--  Bootstrap Table: filter control  -->
<script src='{% static "bootstrap-table-master/extensions/filter-control/bootstrap-table-filter-control.js" %}'></script>

<!--  FullCalendar  -->
<script src='{% static "fullcalendar-scheduler/main.js" %}'></script>

</body>
</html>

<script>
    $(document).ready(function(){
        $(window).on('beforeunload', function() {
            $.LoadingOverlay("show");
        });

        $(window).bind('pageshow', function () {
            $.LoadingOverlay("hide");
        })
    });
</script>

<script>
    /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main-contents").style.marginLeft = "250px";
    }

    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main-contents").style.marginLeft = "0";
    }
</script>