<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
        <a class="nav-link collapsed" href="/">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
        </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
        <a id="navLinkBusiness" class="nav-link collapsed" data-bs-target="#business-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-bank"></i><span>사업 관리</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="business-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
                <a id="navContentReport" href="/report/">
                    <i class="bi bi-circle"></i><span>현황 집계</span>
                </a>
            </li>
            <li>
                <a id="navContentStudio" href="/studio/">
                    <i class="bi bi-circle"></i><span>센터 관리</span>
                </a>
            </li>
            <li>
                <a id="navContentTeacher" href="/teacher/">
                    <i class="bi bi-circle"></i><span>강사 관리</span>
                </a>
            </li>
            <li>
                <a id="navContentMember" href="/member/">
                    <i class="bi bi-circle"></i><span>회원 관리</span>
                </a>
            </li>
        </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#lesson-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-calendar-check"></i><span>수업 관리</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="lesson-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
                <a href="#">
                    <i class="bi bi-circle"></i><span>회원 조회</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-circle"></i><span>수업 관리</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-circle"></i><span>스케쥴 표</span>
                </a>
            </li>
        </ul>
    </li><!-- End Icons Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
            <i class="bi bi-person"></i>
            <span>Profile</span>
        </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed" href="pages-faq.html">
            <i class="bi bi-question-circle"></i>
            <span>F.A.Q</span>
        </a>
    </li><!-- End F.A.Q Page Nav -->

    </ul>

</aside>