{% extends 'common_app/base.html' %}

{% load static %}

{% block main_area %}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">메인</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div>

<h3>안녕하세요 {{ request.user.name }} 님</h3>

<section class="section dashboard">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        수업 일정 <span>| Today</span>
                    </h5>
                    <div id="calendar"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        수업 일정 <span>| Today</span>
                    </h5>

                    <div class="activity">
                        <div class="activity-item d-flex">
                            <div class="activite-label">12:30</div>
                            <i class="bi bi-circle-fill activity-badge text-success align-self-start"></i>
                            <div class="activity-content">
                                이현주 님 <a href="#" class="fw-bold text-dark">수업</a>
                            </div>
                        </div>

                        <div class="activity-item d-flex">
                            <div class="activite-label">12:30</div>
                            <i class="bi bi-circle-fill activity-badge text-success align-self-start"></i>
                            <div class="activity-content">
                                이현주 님 <a href="#" class="fw-bold text-dark">수업</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}