{% extends 'common_app/base.html' %}

{% load bootstrap5 %}
{% load static %}

{% block main_area %}

<div class="pagetitle">
    <h1>회원 관리 <span>- 회원권 설정</span></h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">메인</a></li>
            <li class="breadcrumb-item">사업 관리</li>
            <li class="breadcrumb-item">회원 관리</li>
            <li class="breadcrumb-item active">회원권 설정</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">
                    <span class="badge border-success border-1 text-success">[ {{ member.name }} ] 회원권 정보 입력</span>
                </h3>
            </div>

            <form method="post">
                {{ membership_form.media }}
                {% csrf_token %}

                <div class="card-body mt-4">
                    {% bootstrap_form membership_form layout="horizontal" %}
                </div>

                <div class="card-footer text-end">
                    <a href="/member/" class="btn btn-secondary">
                        <i class="fa-solid fa-square-caret-left"> 돌아가기</i>
                    </a>
                    <button type="submit" class="btn btn-success float-right">
                        <i class="fa-solid fa-floppy-disk"> 저장</i>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}