{% extends 'common_app/base.html' %}

{% load bootstrap5 %}
{% load static %}

{% block main_area %}

<div class="pagetitle">
    <h1>회원 관리 <span>- 회원권 삭제</span></h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">메인</a></li>
            <li class="breadcrumb-item">사업 관리</li>
            <li class="breadcrumb-item">회원 관리</li>
            <li class="breadcrumb-item active">회원권 삭제</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">
                    <span class="badge border-success border-1 text-danger">
                        [ {{ membership.member.name }} ] 회원권 삭제
                    </span>
                </h3>
            </div>
            <div class="card-body">
                <div class="card-title">
                    안내
                    <span>| 회원권 정보를 삭제합니다</span>
                </div>

                <h5 style="color:red;">회원 [ {{ membership.member.name }} ] 님의 [ {{ membership.reg_date | date:"Y.m.d" }} ] 결제 정보를 삭제하시겠습니까?</h5>
            </div>
            <div class="card-footer text-end">
                <form method="post">
                    {% csrf_token %}
                    <a href="/member/" class="btn btn-secondary">
                        <i class="fa-solid fa-square-caret-left"> 돌아가기</i>
                    </a>
                    <button type="submit" class="btn btn-danger float-right">
                        <i class="fa-solid fa-trash-can"> 회원권 삭제</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src='{% static "studio_app/selected_member.js" %}'></script>

{% endblock %}