{% extends 'common_app/base.html' %}

{% load static %}
{% load humanize %}
{% load studio_extras %}

{% block main_area %}

<div class="pagetitle">
    <h1>회원 관리</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">메인</a></li>
            <li class="breadcrumb-item">사업 관리</li>
            <li class="breadcrumb-item active">회원 관리</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="card">
        <div class="card-header pb-2">
            <div class="row">
                <div class="col-6">
                    소속 회원
                </div>
                <div class="col-6 text-end">
                    <a href="add/" class="btn btn-sm btn-success">회원 추가</a>
                </div>
            </div>

        </div>
        <div class="card-body table-responsive">
            <table class="table text-center"
                   data-toggle="table"
                   data-filter-control="true"
                   data-search="true"
                   data-show-search-clear-button="true"
                   data-pagination="true"
                   data-page-list="[10, 25, 50, 100, all]"
            >
                <thead>
                    <tr>
                        <th data-sortable="true">이름</th>
                        <th data-field="studio" data-filter-control="select" data-sortable="true">소속지점</th>
                        <th data-field="status" data-filter-control="select" data-sortable="true">회원권</th>
                        <th data-sortable="true">총 결제금액</th>
                        <th data-sortable="true">총 결제횟수</th>
                        <th data-sortable="true">담당 강사</th>
                        <th data-sortable="true" class="d-none d-lg-table-cell">기본 수업 일정</th><!-- 모바일에서는 가림 -->
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    {% for member in members %}
                        <tr>
                            <td>{{ member.name }}</td>
                            <td>{{ member.studio.name }}</td>
                            {% if member.status < 3 %}
                                <td>{{ member.get_status_display }}</td>
                            {% else %}
                                <td class="text-danger">{{ member.get_status_display }}</td>
                            {% endif %}
                            <td class="text-end">{{ member.membership_set.all | get_total_value_of_selected_member:"reg_amount" | intcomma }} 원</td>
                            <td class="text-end">{{ member.membership_set.all.count | intcomma }} 회</td>
                            <td>{{ member.teacher }}</td>
                            <td>{{ member | get_default_schedule_of_member }}</td>
                            <td class="text-center">
                                <a href="{{ member.id }}/chg/"><span class="badge bg-warning btn" >정보수정</span></a>
                                <a href="{{ member.id }}/del/"><span class="badge bg-danger btn">회원삭제</span></a>
                                <a onclick="showMemberDetail({{ member.id }}, '{{ member.name }}')"><span class="badge bg-info btn">상세보기</span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header pb-2">
                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-title p-0 selected-member">
                                <span> | 회원권 정보</span>
                            </h5>
                        </div>
                        <div class="col-6 text-end">
                            <a id="selected-member-add-btn" href="#" class="disabled btn btn-sm btn-success">결제 정보 추가</a>
                        </div>
                    </div>

                </div>
                <div class="card-body table-responsive">
                    <table id="membershipTable" class="table table-bordered text-center"
                           data-toggle="table"
                           data-filter-control="true"
                           data-search="true"
                           data-show-search-clear-button="true"
                           data-pagination="true"
                           data-page-list="[10, 25, 50, 100, all]"
                    >
                        <thead>
                            <tr>
                                <th data-field="reg_date">결제일</th>
                                <th data-field="reg_amount" data-halign="center" data-align="right">결제금액</th>
                                <th data-field="payment_method">결제수단</th>
                                <th data-field="number_of_lesson" data-halign="center" data-align="right">수업횟수</th>
                                <th data-field="action">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-header pb-2">
                    <h5 class="card-title p-0 selected-member">
                        <span> | 수강 정보</span>
                    </h5>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-bordered"
                           data-toggle="table"
                           data-filter-control="true"
                           data-search="true"
                           data-show-search-clear-button="true"
                           data-pagination="true"
                           data-page-list="[10, 25, 50, 100, all]"
                    >
                        <thead class="text-center">
                            <tr>
                                <th>이름</th>
                                <th>상태</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script src='{% static "studio_app/studio_app.js" %}'></script>
<script src='{% static "studio_app/selected_member.js" %}'></script>

{% endblock %}