{% extends 'common_app/base.html' %}

{% load bootstrap5 %}
{% load static %}

{% block main_area %}

<div class="pagetitle">
    <h1>센터 관리 <span>- 지점 삭제</span></h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">메인</a></li>
            <li class="breadcrumb-item">사업 관리</li>
            <li class="breadcrumb-item">센터 관리</li>
            <li class="breadcrumb-item active">지점 삭제</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-lg-3"></div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">
                    <span class="badge border-danger border-1 text-danger">경고</span>
                </h3>
            </div>

            {% if error %}
                <div class="card-body">
                    <div class="card-title" style="color:red;">{{ error }}</div>
                </div>
                <div class="card-footer text-end">
                    <a href="/studio/" class="btn btn-secondary">
                        <i class="fa-solid fa-square-caret-left"> 돌아가기</i>
                    </a>
                </div>
            {% else %}
                <div class="card-body">
                    <div class="card-title" style="color:red;">
                        지점 [ {{ studio.name }} ] 을 삭제하시겠습니까?
                    </div>
                </div>
                <div class="card-footer text-end">
                    <form method="post">
                        {% csrf_token %}
                        <a href="/studio/" class="btn btn-secondary">
                            <i class="fa-solid fa-square-caret-left"> 돌아가기</i>
                        </a>

                        <button type="submit" class="btn btn-danger">
                            <i class="fa-solid fa-trash-can"> 삭제</i>
                        </button>
                    </form>
                </div>
            {% endif %}

        </div>
    </div>
</div>

<script src='{% static "studio_app/selected_studio.js" %}'></script>


{% endblock %}