{% extends 'common_app/base.html' %}

{% load static %}
{% load studio_extras %}
{% load humanize %}

{% block main_area %}

<div class="pagetitle">
    <h1>강사 관리</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">메인</a></li>
            <li class="breadcrumb-item">사업 관리</li>
            <li class="breadcrumb-item active">강사 관리</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="card">
        <div class="card-header pb-2">
            <div class="row">
                <div class="col-6">
                    고용 강사
                </div>
                <div class="col-6 text-end">
                    <a href="add/" class="btn btn-sm btn-success">강사 추가</a>
                </div>
            </div>

        </div>
        <div class="card-body table-responsive">
            <table class="table table-bordered"
                   data-toggle="table"
                   data-filter-control="true"
                   data-search="true"
                   data-show-search-clear-button="true"
                   data-pagination="true"
                   data-page-list="[10, 25, 50, 100, all]"
            >
                <thead class="text-center">
                    <tr>
                        <th data-sortable="true">강사</th>
                        <th data-sortable="true" class="d-none d-lg-table-cell">email</th><!-- 모바일에서는 가림 -->
                        <th data-sortable="true">회당 강습비</th>
                        <th data-sortable="true">강습 지점</th>
                        <th data-sortable="true" class="d-none d-lg-table-cell">계약 시작일</th><!-- 모바일에서는 가림 -->
                        <th data-sortable="true" class="d-none d-lg-table-cell">계약 종료일</th><!-- 모바일에서는 가림 -->
                        <th data-sortable="true">상태</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>{{ request.user.name }}</td>
                        <td>{{ request.user.email }}</td>
                        <td class="text-end">{{ request.user.lesson_fee | intcomma }} 원</td>
                        <td>{{ request.user | get_studios_of_teacher }}</td>
                        <td>{{ request.user.employment_start_date | date:"Y.m.d" }}</td>
                        <td>{{ request.user.employment_end_date | date:"Y.m.d" }}</td>
                        {% if request.user.is_active %}
                            <td>활성</td>
                        {% else %}
                            <td class="text-danger">비활성</td>
                        {% endif %}
                        <td class="text-center">
                            <a href="{{ request.user.id }}/chg/"><span class="badge bg-warning btn" >정보수정</span></a>
                            <a href="{{ request.user.id }}/del/"><span class="badge bg-danger btn">강사삭제</span></a>
                            <a onclick="showTeacherDetail({{ request.user.id }})"><span class="badge bg-info btn">상세보기</span></a>
                        </td>
                    </tr>
                    {% for teacher in teachers %}
                        <tr>
                            <td>{{ teacher.name }}</td>
                            <td>{{ teacher.email }}</td>
                            <td class="text-end">{{ teacher.lesson_fee | intcomma }} 원</td>
                            <td>{{ teacher | get_studios_of_teacher }}</td>
                            <td>{{ teacher.employment_start_date | date:"Y.m.d" }}</td>
                            <td>{{ teacher.employment_end_date | date:"Y.m.d" }}</td>
                            {% if teacher.is_active %}
                                <td>활성</td>
                            {% else %}
                                <td class="text-danger">비활성</td>
                            {% endif %}
                            <td class="text-center">
                                <a href="{{ teacher.id }}/chg/"><span class="badge bg-warning btn" >정보수정</span></a>
                                <a href="{{ teacher.id }}/del/"><span class="badge bg-danger btn">강사삭제</span></a>
                                <a onclick="showTeacherDetail({{ teacher.id }})"><span class="badge bg-info btn">상세보기</span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header pb-2">
            수업 내역
        </div>
        <div class="card-body">
            <table id="teacherLessonTable" class="table table-bordered text-center"
                   data-toggle="table"
                   data-filter-control="true"
                   data-search="true"
                   data-show-search-clear-button="true"
                   data-pagination="true"
                   data-page-list="[10, 25, 50, 100, all]"
            >
                <thead>
                    <tr>
                        <th data-field="lesson_date">강습일</th>
                        <th data-field="studio">강습 지점</th>
                        <th data-field="member">회원</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>

<script src='{% static "studio_app/studio_app.js" %}'></script>
<script src='{% static "studio_app/selected_teacher.js" %}'></script>

{% endblock %}